<app-custom-navbar
  brand="I Am Insured!"
  [userRole]="userRole"
  [links]="[
    { label: 'Home', path: '/home', roles: ['agent', 'customer', 'admin'] },
    { label: 'Admin Panel', path: '/admin', roles: ['admin'], primary: true },
  ]"
>
</app-custom-navbar>

<section class="policy-portal">
  <div class="portal-header">
    <h2 class="portal-title">Available Insurance Policies</h2>
    <p class="portal-subtitle">
      Choose the right policy that fits your needs — compare, view details, or
      buy instantly.
    </p>
  </div>

  <div class="policy-grid">
    @for (policy of allPolicies; track policy._id) {
    <app-card
      [title]="policy.title"
      [content]="policy.description"
      [premium]="policy.premium"
      [term]="policy.termMonths"
      [coverage]="policy.minSumInsured"
      (onClick_buy)="buyPolicy(policy._id)"
    ></app-card>

    }
  </div>
</section>
