<app-custom-navbar
  brand="I Am Insured!"
  [userRole]="(authService.user$ | async)?.role"
  [links]="[
    { label: 'Home', path: '/home', roles: ['agent', 'customer', 'admin'] },
    { label: 'Admin Panel', path: '/admin', roles: ['admin'] },
    { label: 'Agent Edit Panel', path: '/agent-portal', roles: ['admin'] },
    { label: 'Audit Logs', path: '/admin/audit', roles: ['admin'] },
    { label: 'Summary', path: '/admin/summary', roles: ['admin'] },
    { label: 'Payments', path: '/payments', roles: ['customer','admin'] },
  ]"
>
</app-custom-navbar>
<div class="payment-container">
  
  
  
  <app-custom-button 
  [label]="'Back'"
  [color]="'primary'"
  (clicked)="goBack()"
  ></app-custom-button>

  <h2>Dummy Payment Gateway</h2>

  <form (ngSubmit)="makePayment()" #paymentForm="ngForm">
    <!-- Amount -->
    <div class="form-group">
      <label for="amount">Amount (₹)</label>
      <input
        type="number"
        id="amount"
        [(ngModel)]="amount"
        name="amount"
        required
      />
    </div>

    <!-- Payment Method -->
    <div class="form-group">
      <label for="method">Payment Method</label>
      <select id="method" [(ngModel)]="method" name="method" required>
        <option *ngFor="let option of paymentMethods" [value]="option">
          {{ option }}
        </option>
      </select>
    </div>

    <!-- Submit Button -->
    <button type="submit" class="btn-submit">Pay Now</button>
  </form>
</div>
