<app-custom-navbar
  brand="I Am Insured!"
  [userRole]="userRole"
  [links]="[
    { label: 'Home', path: '/home', roles: ['agent', 'customer', 'admin'] },
    { label: 'Admin Panel', path: '/admin', roles: ['admin'] },
    { label: 'Payments', path: '/payments', roles: ['customer','admin'] }
  ]"
>
</app-custom-navbar>

<section class="payments">
    <app-custom-button 
  [label]="'Back'"
  [color]="'primary'"
  (clicked)="goBack()"
  ></app-custom-button>
  <h2>Payments History</h2>

  <div *ngIf="loading">Loading...</div>
  <div *ngIf="error" class="error">{{ error }}</div>

  <table class="table" *ngIf="!loading && !error && payments?.length; else noPayments">
    <thead>
      <tr>
        <th>Date</th>
        <th>Policy</th>
        <th>Amount</th>
        <th>Method</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let p of payments">
        <td>{{ p.createdAt | date:'short' }}</td>
        <td>{{ findTitle(p.userPolicyId.policyProductId)}}</td>
        <td>{{ p.amount | currency:'INR' }}</td>
        <td>{{ (p.method) | uppercase }}</td>
      </tr>
    </tbody>
  </table>

  <ng-template #noPayments>
    <p>No payments recorded.</p>
  </ng-template>
</section>


